[submodule "bash-magisk-module"]
	path = bash-magisk-module
	url = https://github.com/henriknelson/bash-magisk-module
[submodule "bat-magisk-module"]
	path = bat-magisk-module
	url = https://github.com/henriknelson/bat-magisk-module
[submodule "busybox-magisk-module"]
	path = busybox-magisk-module
	url = https://github.com/henriknelson/busybox-magisk-module
[submodule "binutils-magisk-module"]
	path = binutils-magisk-module
	url = https://github.com/henriknelson/binutils-magisk-module
[submodule "coreutils-magisk-module"]
	path = coreutils-magisk-module
	url = https://github.com/henriknelson/coreutils-magisk-module
[submodule "fd-magisk-module"]
	path = fd-magisk-module
	url = https://github.com/henriknelson/fd-magisk-module
[submodule "nano-magisk-module"]
	path = nano-magisk-module
	url = https://github.com/henriknelson/nano-magisk-module
[submodule "neofetch-magisk-module"]
	path = neofetch-magisk-module
	url = https://github.com/henriknelson/neofetch-magisk-module
[submodule "git-magisk-module"]
	path = git-magisk-module
	url = https://github.com/henriknelson/git-magisk-module
[submodule "zip-magisk-module"]
	path = zip-magisk-module
	url = https://github.com/henriknelson/zip-magisk-module
[submodule "tree-magisk-module"]
	path = tree-magisk-module
	url = https://github.com/henriknelson/tree-magisk-module
[submodule "toilet-magisk-module"]
	path = toilet-magisk-module
	url = https://github.com/henriknelson/toilet-magisk-module
[submodule "man-magisk-module"]
	path = man-magisk-module
	url = https://github.com/henriknelson/man-magisk-module
[submodule "sqlite3-magisk-module"]
	path = sqlite3-magisk-module
	url = https://github.com/henriknelson/sqlite3-magisk-module
[submodule "cmatrix-magisk-module"]
	path = cmatrix-magisk-module
	url = ttps://github.com/henriknelson/cmatrix-magisk-module
[submodule "nmap-magisk-module"]
	path = nmap-magisk-module
	url = ttps://github.com/henriknelson/nmap-magisk-module
[submodule "dnsmasq-magisk-module"]
	path = dnsmasq-magisk-module
	url = https://github.com/henriknelson/dnsmasq-magisk-module.git
[submodule "bbk-magisk-module"]
	path = bbk-magisk-module
	url = https://github.com/henriknelson/bbk-magisk-module.git
[submodule "unrar-magisk-module"]
	path = unrar-magisk-module
	url = https://github.com/henriknelson/unrar-magisk-module.git
[submodule "pastel-magisk-module"]
	path = pastel-magisk-module
	url = ttps://github.com/henriknelson/pastel-magisk-module
[submodule "opensshd-magisk-module"]
	path = opensshd-magisk-module
	url = https://github.com/henriknelson/opensshd-magisk-module.git
[submodule "nyancat-magisk-module"]
	path = nyancat-magisk-module
	url = ottps://github.com/henriknelson/nyancat-magisk-module.git
[submodule "hexyl-magisk-module"]
	path = hexyl-magisk-module
	url = https://github.com/henriknelson/hexyl-magisk-module
[submodule "make-magisk-module"]
	path = make-magisk-module
	url = https://github.com/henriknelson/make-magisk-module
[submodule "python-magisk-module"]
	path = python-magisk-module
	url = https://github.com/henriknelson/python-magisk-module
[submodule "ruby-magisk-module"]
	path = ruby-magisk-module
	url = https://github.com/henriknelson/ruby-magisk-module
[submodule "strace-magisk-module"]
	path = strace-magisk-module
	url = https://github.com/henriknelson/strace-magisk-module
